* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  outline: none;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #e55c8a;
}

main {
  width: 60%;
  margin: 100px auto;
  background-color: #3c424a;
  min-height: 80%;
  border-radius: 6px;
  padding: 4% 10%;
  -webkit-box-shadow: 4px 6px 10px #343a40;
          box-shadow: 4px 6px 10px #343a40;
}

main .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 0 auto;
  margin-bottom: 5%;
}

main hr {
  border: 0.5px solid #343a40;
}

main h1 {
  color: #e1eaf2;
  text-align: center;
  margin-top: 50px;
}

main h6 {
  text-align: center;
  color: #a3acb9;
  margin-top: 5%;
  letter-spacing: 1px;
  font-size: 16px;
  margin-bottom: 6%;
}

main .filter {
  display: block;
  float: right;
  color: #2e3238;
  font-size: 12px;
  margin-bottom: 2px;
}

main .filter img {
  width: 12px;
  height: 12px;
}

main .filter span {
  cursor: pointer;
}

main .filter span:hover {
  color: #252930;
}

.addField {
  background-color: #343a40;
  padding: 8px;
  border: 1px solid #2e3238;
  border-radius: 3px;
  text-align: left;
  width: 100%;
  font-size: 15px;
  color: #e1eaf2;
}

button {
  visibility: hidden;
  height: 0;
  width: 0;
  border: none;
}

ul {
  margin-top: 6%;
}

ul li {
  font-size: 14px;
  margin-top: 20px;
  line-height: 16px;
  color: #a3acb9;
  -webkit-animation: slide-up 0.4s ease;
          animation: slide-up 0.4s ease;
  font-family: 'Montserrat', sans-serif;
}

ul li:before {
  content: "";
  display: block;
  float: left;
  width: 14px;
  height: 14px;
  background-image: url(../img/pen-solid.svg);
  background-repeat: no-repeat;
  background-size: 14px 14px;
  margin-left: -20px;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

ul li:hover:before {
  opacity: .5;
}

ul li input {
  float: left;
}

ul li span {
  margin-left: 20px;
  float: left;
  width: 80%;
}

ul li span:hover ~ ul li span:before {
  background-color: red;
}

ul li span.taskRemove {
  float: right;
  background: url(../img/trash-solid.svg);
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  background-repeat: repeat;
}

ul li span.taskRemove:hover {
  -webkit-animation: shake .3s infinite;
          animation: shake .3s infinite;
}

ul li .editField {
  border: none;
  background-color: inherit;
  color: #e1eaf2;
  margin-left: 20px;
  font-size: 14px;
  line-height: 14px;
  height: 16px;
  padding: 1px 0;
  width: 80%;
}

ul li:after {
  display: block;
  content: "";
  clear: both;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  75% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  75% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.checkContainer {
  display: block;
  position: relative;
  padding-left: 14px;
  margin-bottom: 2px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: #484f59;
  border: 1px solid #2e3238;
  margin-left: 0;
}

.checkContainer:hover input ~ .checkmark {
  background-color: #343a40;
}

.checkContainer input:checked ~ .checkmark {
  background-color: #343a40;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkContainer input:checked ~ .checkmark:after {
  display: block;
}

.checkContainer .checkmark:after {
  left: 4px;
  top: 0px;
  width: 2px;
  height: 7px;
  border: solid #a3acb9;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*# sourceMappingURL=main.css.map */